#footer {
	// @media (min-width: 320px) {
	// 	height: ($baseline * 44);
	// }
	// @media (min-width: 600px) {
	// 	height: ($baseline * 29);
	// }
	
}

#footer .container-wedeploy {
	height: inherit;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;

	@media (min-width: 600px) {
		justify-content: flex-start;
		align-items: center;
		align-content: center;
		flex-wrap: nowrap;
	}
}

#footer .info-container {
	@media (min-width: 320px) {
		text-align: center;
		margin-top: ($baseline * 6);
	}

	@media (min-width: 600px) {
		text-align: left;
		margin-top: 0;
	}

	@media (min-width: 960px) {
		height: 48px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
	}

}

#footer .info {
	@media (min-width: 320px) {
		display: block;
	}

	@media (min-width: 960px) {
		display: inline-flex;
	}
}

#footer .footer__logo {

	@media (min-width: 320px) {
		padding: 0 0 48px 0;
	}

	@media (min-width: 600px) {
		padding: 0 12px 24px 0;
	}

	@media (min-width: 960px) {
		padding: 0 36px 0 0;
	}

	@media (min-width: 1280px) {
		padding: 0 48px 0 0;
	}
}

#footer .footer__logo span {
	margin:0;
	padding: 0;
	font-size: 24px;
	font-family: $font-primary;
	font-weight: 700;
	color: $white;
}

#footer .footer__copy {
	@media (min-width: 320px) {
		padding: 0 0 36px 0;
	}

	@media (min-width: 600px) {
		padding: 0 12px 12px 0;
	}

	@media (min-width: 960px) {
		padding: 0 24px 0 0;
	}

	@media (min-width: 1024px) {
		padding: 0 36px 0 0;
	}

	@media (min-width: 1280px) {
		padding: 0 48px 0 0;
	}
}

#footer .footer__link {
	@media (min-width: 320px) {
		padding: 0 0 36px 0;
	}

	@media (min-width: 600px) {
		padding: 0 12px 12px 0;
	}

	@media (min-width: 960px) {
		padding: 0 24px 0 0;
	}

	@media (min-width: 1024px) {
		padding: 0 36px 0 0;
	}

	@media (min-width: 1280px) {
		padding: 0 48px 0 0;
	}

	span {
		margin:0;
		padding: 0;
		font-size: 16px;
		font-family: $font-primary;
		font-weight: 400;
		color: rgba($white, .7);
		text-align: left;
	}

	a:hover span {
		color: rgba($white, .9);
	}
}

#footer .footer__link:last-child {

	@media (min-width: 320px) {
		padding: 0 0 36px 0;
	}

	@media (min-width: 600px) {
		padding: 0;
	}

}

#footer .footer__copy span {
	margin:0;
	padding: 0;
	font-size: 16px;
	font-family: $font-primary;
	font-weight: 400;
	color: rgba($white, .5);
	text-align: left;
}

#footer .footer__copy a:hover span {
	color: rgba($white, .7);
}

#footer .footer__media-kit {
	position: relative;

	@media (min-width: 320px) {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
	}

	@media (min-width: 600px) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
	}
}

#footer .footer__media-kit .btn {
	flex: 0 1 auto;
	height: ($baseline * 4);
	line-height: ($baseline * 4);
	display: flex;
	font-size: 15px;
	font-family: $font-primary;
	font-weight: 600;
	padding: 0 20px;

	@media (min-width: 320px) {
		margin: 0 0 36px;
	}

	@media (min-width: 600px) {
		margin: 0;
	}

}

.bottom_bar {
	min-width: 1400px;
	width: 100%;
	height: 60px;
	background: #f3f3f3;
}

.bottom_bar a img {
	width: 30px;
	height: 30px;
}

.bottom_bar a {
	line-height: 60px;
	padding: 25px;
}

#footer div {
	// display: block;
	float:left; 
	margin-left:8%;
	margin-top:70px;
}

#footer div ul {
	padding: 6%;
	list-style-type:none;
}

#footer div ul li {
	padding:1%;
}

#footer div ul li a {
	text-decoration: none;
}


#footer {
	// padding: ($baseline) 0;
	// position: relative;
	// overflow: hidden;

	// .ic-github, .ic-twitter {
	// 	flex: 0 1 auto;
	// 	height: 32px;

	// 	@media (min-width: 320px) {
	// 		margin-left: 0;
	// 	}

	// 	@media (min-width: 600px) {
	// 		margin-left: 30px;
	// 	}

	// 	span {
	// 		font-size: 32px;
	// 		color: $theme;
	// 	}

	// 	&:hover span {
	// 		color: rgba($theme, .8);
	// 	}
	// }

	// .ic-twitter {
	// 	margin-top: 30px;

	// 	@media (min-width: 600px) {
	// 		margin-top: 0px;
	// 	}
	// }

}

.c-footer--wrap{display:flex;align-items:flex-start;justify-content:space-between;flex-wrap:wrap;margin-top:2rem}
@media screen and (min-width:48rem){.c-footer--wrap{width:82.92682927%;margin-bottom:1rem;margin-top:0}
}
@supports (display:grid) and (grid-template-columns:repeat(3,1fr)) and (grid-row-gap:1%) and (grid-gap:1%) and (grid-column-gap:1%){.c-footer--wrap{display:grid;grid-gap:1rem;grid-template-columns:repeat(2,1fr)}
@media screen and (min-width:48rem){.c-footer--wrap{grid-template-columns:repeat(4,1fr)}
}
}
.c-nav--footer{border-top:1px solid #EBEBEB}
.c-nav--footer a{color:#6D6F7B;border:none}
.c-nav--footer a:hover{color:#3F46AD}
.c-nav--footer a:hover .c-nav--footer__svgicon{fill:#3F46AD}
@media screen and (min-width:48rem){.c-nav--footer__row{display:flex;justify-content:space-between; width: 70%; margin: auto;}
}
.c-nav--footer__menu{padding:2rem 0}
@media screen and (min-width:64rem){.c-tooltip__content{font-size:.875rem}
.c-footer--wrap{width:65.85365854%}
.c-nav--footer__menu{padding-top:5rem;padding-bottom:5rem}
}
.o-content-container { width: 70%;margin: auto; max-width: 1920px;}
.c-nav--footer__block{flex:1 1 50%}
.c-nav--footer__metasocial{background-color:#F5F5F5;clear:both;text-align:center}
.c-nav--footer__metasocial:after{content:'';clear:both;display:table}
.c-nav--footer__metasocial .c-nav__list{width:100%}
.c-nav--footer__metasocial .c-nav__list:last-child{float:left;margin-top:1rem}
.c-nav--footer__list{list-style:none;margin:0}
.c-nav--footer__listheader,.c-nav--footer__listitem a{display:inline-block;padding:.75rem 0;font-family: $font-primary;}
@media screen and (min-width:48rem){.c-nav--footer__block{flex:1 1 auto}
.c-nav--footer__metasocial{text-align:left}
.c-nav--footer__metasocial .c-nav__list{width:auto}
.c-nav--footer__metasocial .c-nav__list:last-child{margin-top:0;float:right}
.c-nav--footer__listheader,.c-nav--footer__listitem a{padding:.55rem 0;font-family: $font-primary;}
}
.c-nav--footer__listitem{font-family:Slack-Averta,appleLogo,sans-serif;font-weight:400;line-height:1.2;font-size:1rem}
[lang=ja-JP] .c-nav--footer__listitem{font-family:Slack-Noto,Slack-Averta,appleLogo,sans-serif}
@media screen and (min-width:25rem){.c-nav--footer__listitem{font-size:calc(1rem + (-2 * (100vw - 400px)/ 624))}
}
@media screen and (min-width:64rem){.c-nav--footer__listitem{font-size:.875rem}
}
.c-nav--footer__listitem--meta,.c-nav--footer__listitem--social{display:inline-block;padding:2rem 0;font-family: $font-primary;}
.c-nav--footer__listitem--meta a,.c-nav--footer__listitem--social a{color:#6D6F7B;border:none;vertical-align:middle}
.v--left .c-nav--footer__listitem--meta a:first-child,.v--left .c-nav--footer__listitem--social a:first-child{padding-left:0}
.v--right .c-nav--footer__listitem--meta a:last-child,.v--right .c-nav--footer__listitem--social a:last-child{padding-right:0}
.c-nav--footer__listitem--meta{margin-right:1rem;margin-bottom:1rem}
.c-nav--footer__listitem--meta:last-child{margin-right:0}
.c-nav--footer__listitem--meta a{font-family:Slack-Averta,appleLogo,sans-serif;font-weight:700;line-height:1.2;font-size:1rem}
[lang=ja-JP] .c-nav--footer__listitem--meta a{font-family:Slack-Noto,Slack-Averta,appleLogo,sans-serif}
@media screen and (min-width:25rem){.c-nav--footer__listitem--meta a{font-size:calc(1rem + (-2 * (100vw - 400px)/ 624))}
}
@media screen and (min-width:64rem){.c-nav--footer__listitem--meta a{font-size:.875rem}
}
.c-nav--footer__listitem--social{margin-left:1rem}
.c-nav--footer__listitem--social:first-child{margin-left:0}
.c-nav--footer__listitem--social:first-child a{padding-left:0}
.c-nav--footer__listheader{font-family:Slack-Averta,appleLogo,sans-serif;font-weight:700;line-height:1.2;font-size:1rem;text-transform:uppercase;color:#6D6F7B;margin:0}
[lang=ja-JP] .c-nav--footer__listheader{font-family:Slack-Noto,Slack-Averta,appleLogo,sans-serif}
@media screen and (min-width:25rem){.c-nav--footer__listheader{font-size:calc(1rem + (-2 * (100vw - 400px)/ 624))}
}
@media screen and (min-width:64rem){.c-nav--footer__listheader{font-size:.875rem}
}
.c-nav--footer__svgicon{fill:#6D6F7B}
.c-locale-ctn{display:block;width:100%;border-bottom:1px solid #EBEBEB;border-top:1px solid #EBEBEB;vertical-align:bottom;position:relative}
@media screen and (min-width:48rem){.c-nav--footer__listitem--meta{margin-bottom:0}
.c-nav--footer__listitem--social:first-child a{padding-left:1.5rem}
.c-locale-ctn{display:inline-block;width:auto;border:none}
}
.c-locale-switcher{display:inline-block}
.c-locale-switcher:after{content:url(/49ff5/marketing/img/icons/icon_chevron_black.svg);width:15px;color:#F5F5F5;float:right;margin-left:1rem}
.c-locale-menu{display:none;width:100%;list-style:none;text-align:left}
@media screen and (min-width:48rem){.c-locale-menu{right:0;position:absolute;bottom:84px;width:250px;background:#FFF;border:1px solid #EBEBEB;padding:1rem;margin:0;z-index:1000}
}
.c-locale-menu.is-open{display:block}
.c-locale-menu li{line-height:38px}
.c-locale-menu li:last-child a{margin-bottom:0}
.c-locale-menu__item{display:block;border-radius:4px;padding:.5rem;margin:0 0 .5rem;border:none}
.c-locale-menu__item:focus,.c-locale-menu__item:hover{background:#F5F5F5}
.c-locale-menu__item.is-selected:after{content:url(/5ced7/marketing/img/icons/icon_checkmark.svg);vertical-align:bottom;width:15px;float:right;margin-left:1rem}
[data-locale]:before{display:inline-block;width:20px;height:20px;background-repeat:no-repeat;background-size:20px 20px;content:'';margin-left:8px;margin-right:10px;vertical-align:text-top}
[data-locale=en-US]:before{background-image:url(/4b14c/marketing/img/emoji/emoji_flag_us.png)}
[data-locale=fr-FR]:before{background-image:url(/4b14c/marketing/img/emoji/emoji_flag_fr.png)}
[data-locale=es-ES]:before{background-image:url(/4b14c/marketing/img/emoji/emoji_flag_sp.png)}
[data-locale=de-DE]:before{background-image:url(/4b14c/marketing/img/emoji/emoji_flag_de.png)}
[data-locale=ja-JP]:before{background-image:url(/4b14c/marketing/img/emoji/emoji_flag_jp.png)}
[data-locale=pseudo]:before{background-image:url(/4b14c/marketing/img/emoji/emoji_rocket.png)}
.c-nav{width:100%;padding:0;font-family: $font-primary;}
.c-nav.v--sticky.is-stuck{position:fixed;z-index:999;top:70px;box-shadow:0 1px 1px rgba(0,0,0,.15);border-bottom:none}
.c-nav__list{list-style:none;margin:0;display:inline-block}
@media screen and (min-width:67.8125rem){.c-nav__list{text-align:center;margin:0 auto;padding:0;font-size:0;align-items:center;list-style:none}
}
.c-nav__list.v--left{text-align:left}
.c-nav__list.v--right{text-align:right;float:right}
.c-nav__list.v--main li{font-size:1.5rem;display:block;margin-bottom:0;margin-left:-1rem}
.c-nav__list.v--main a{color:#FFF}
.c-nav__list.v--secondary li{font-size:1.5rem;display:block;margin-bottom:0;margin-left:-.5rem}
.c-nav__list.v--auth{text-align:center;left:0;right:0;bottom:5rem;color:#FFF;position:absolute}
.c-nav__list.v--auth li{display:inline-block}
.c-nav__list.v--auth a{box-shadow:none;color:#FFF}
@media only print{.c-nav,.c-nav--sidebar{display:none!important}
}

