#topbar {
	opacity: 0;
	box-shadow: 0 0 100px white;
	position: relative;

	max-width: 1920px;
	margin: 0 auto;

	> * {
		float: none;
	}

	.topbar {
		padding: 24px 0 12px;
	}
}

#topbar1 div div nav ul li a {
	color: #fff;
}

#topbar1 div div nav ul li .get-started{
	margin-top: -6px;
	background: #fff;
	color: purple;
}

#topbar1 {
	background-color: purple;
	position: relative;
	height: 100px;
	max-width: 1920px;
	margin: 0 auto;

	> * {
		float: none;
	}

	.topbar {
		padding: 24px 0 12px;
	}
}

#totaltop {
	background: purple;
}

.logo_img {
	height: 58px;
	width: 426px;
	margin-left: -53px;
}

#topbar {
	@media	(min-width: 320px) {
		padding: 0 20px;
	}

	@media	(min-width: 600px) {
		padding: 0 40px;
	}

	@media	(min-width: 1440px) {
		padding: 0 20px;
	}
}

#topbar1 {
	background: purple;
	@media	(min-width: 320px) {
	}

	@media	(min-width: 600px) {
		padding: 0 40px;
	}

	@media	(min-width: 1440px) {
		padding: 0 20px;
	}
}

#topbar .hidden-small {
	@media	(min-width: 320px) {
		display: none;
	}

	@media	(min-width: 480px) {
		display: none;
	}

	@media	(min-width: 600px) {
		display: flex;
	}
}

#topbar .visible-small {
	@media	(min-width: 320px) {
		display: none;
	}

	@media	(min-width: 480px) {
		display: flex;
	}

	@media	(min-width: 600px) {
		display: none;
	}
}

@media screen and (min-width: 1280px) {
	#topbar .col-lg-offset-1 {
		margin-left: 0%;
	}
	#topbar .col-lg-14 {
		width: 100%;
	}
}

@media screen and (min-width: 1440px) {
	#topbar .col-lg-offset-1 {
		margin-left: 6.25%;
	}
	#topbar .col-lg-14 {
		width: 87.5%;
	}
}
