#view-4 {
	background: #f3f3f3;
	padding: ($baseline) 0;
	position: relative;
	overflow: hidden;
}

#view-4 .giant {
	position: absolute;
	left: 50%;
	top: 0;
	z-index: 1;
	text-align: center;

	@media (min-width: 320px) {
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	@media (min-width: 480px) {
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	@media (min-width: 600px) {
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	@media (min-width: 720px) {
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	@media (min-width: 840px) {
		-webkit-transform: translateX(-49%);
		transform: translateX(-49%);
	}

	@media (min-width: 960px) {
		-webkit-transform: translateX(-42.5%);
		transform: translateX(-42.5%);
	}

	@media (min-width: 1024px) {
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	@media (min-width: 1280px) {
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	@media (min-width: 1440px) {
		-webkit-transform: translateX(-52%);
		transform: translateX(-52%);
	}

	@media (min-width: 1600px) {
		-webkit-transform: translateX(-52%);
		transform: translateX(-52%);
	}

	@media (min-width: 1920px) {
		-webkit-transform: translateX(-55%);
		transform: translateX(-55%);
	}
}

#view-4 .giant span {
	margin: 0;
	padding: 0;
	text-shadow: 0px 12px 20px rgba(0, 0, 0, 0.02), 0px 40px 40px rgba(0, 0, 0, 0.04);
	color: $white;
	font-family: $font-primary;
	font-weight: 700;
	position: relative;
	left: 0;
	width: 100%;
	display: block;

	@media (min-width: 320px) {
		font-size: 186px;
		line-height: 186px;
		top: -211px;
		text-align: center;
	}

	@media (min-width: 480px) {
		font-size: 279px;
		line-height: 279px;
		top: -241px;
	}

	@media (min-width: 600px) {
		font-size: 345px;
		line-height: 345px;
		top: -245px;
	}

	@media (min-width: 720px) {
		font-size: 258px;
		line-height: 258px;
		top: -236px;
		text-align: left;
	}

	@media (min-width: 840px) {
		font-size: 309px;
		line-height: 309px;
		top: -243px;
	}

	@media (min-width: 960px) {
		font-size: 360px;
		line-height: 360px;
		top: -247px;
	}

	@media (min-width: 1024px) {
		font-size: 386px;
		line-height: 386px;
		top: -260px;
	}

	@media (min-width: 1280px) {
		font-size: 404px;
		line-height: 404px;
		top: -268px;;
	}

	@media (min-width: 1440px) {
		font-size: 517px;
		line-height: 517px;
		left: 20px;
		top: -312px;
	}

	@media (min-width: 1600px) {
		font-size: 577px;
		line-height: 577px;
		top: -363px;
	}

	@media (min-width: 1920px) {
		font-size: 648px;
		line-height: 648px;
		top: -414px;
	}
}

#view-4 .container-wedeploy {
	position: relative;
	z-index: 10;

	@media (min-width: 480px) {
		padding: 0 20px;
	}

	@media (min-width: 600px) {
		padding: 0 40px;
	}

	@media (min-width: 1280px) {
		padding: 0;
	}

	@media (min-width: 1440px) {
		padding: 0 20px;
	}
}

#view-4 .container-wedeploy .text-center h2 {
	z-index: 20;
	margin-top: 60px;
}

#view-4 .container-wedeploy .text-center,

#view-4 .container-wedeploy .text-center h4,
#view-4 #features-container {
	z-index: 20;
}

#view-4 h2 {
	margin:0 0 ($baseline *2);
	padding:0;
	position:relative;
	top: -1px;
	font-family: $font-primary;
	font-weight: 700;
	color: rgba($primary, .9);
	letter-spacing: -0.0125em;

	@media (min-width: 320px) {
		font-size: 28px;
		line-height: ($baseline * 3);
	}

	@media (min-width: 480px) {
		font-size: 40px;
		line-height: ($baseline * 4);
	}
}

#view-4 h4 {
	margin:0 0 ($baseline * 5);
	position:relative;
	top: -3px;
	font-family: $font-primary;
	font-weight: 600;
	color: rgba($primary, .4);

	@media (min-width: 320px) {
		font-size: 17px;
		line-height: ($baseline * 2);
	}

	@media (min-width: 480px) {
		padding: 0 20px;
		font-size: 24px;
		line-height: ($baseline * 3);
	}

	@media (min-width: 600px) {
		padding: 0;
	}
}

.discover {
	margin-top: 30px;
	margin: auto;
}

input {
	font-family: $font-primary;	
	height: 70px;
	width: 200px;
	font-style: bold;
	background: #fff;
	border-radius: 10px;
	border: 2px solid gray;
	font-size: 16px;
	color: blue;
}

//FEATURES
.feature {
	padding: 0;
	//opacity: 0;
	position: relative;
}

.feature .feature__box {
	margin-bottom: ($baseline * 3);
}

li.feature {
	flex: 0 1 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;

	@media (min-width: 320px) {
		width: 100%;
	}

	@media (min-width: 600px) {
		width: 50%;
	}

	@media (min-width: 840px) {
		width: 33.33333334%;
	}

	@media (min-width: 840px) {
		width: 33.33333334%;
	}

	@media (min-width: 1440px) {
		margin: 0 12px;
		width: 25.1%;
	}
}

.feature_imgBox {
	margin-left: 20%;
	width: 60%;
	height: 300px;
}

.feature_img {
	margin-top: 70px;
	width: 100%;
	height: 400px;
}

.feature .feature__box {
	margin-top: 60px;
	@media (min-width: 480px) {
		width: 74%;
	}

	@media (min-width: 600px) {
		width: 95%;
	}

	@media (min-width: 720px) {
		width: 90%;
	}

	@media (min-width: 840px) {
		width: 91%;
	}

	@media (min-width: 960px) {
		width: 90%;
	}

	@media (min-width: 1024px) {
		width: 87%;
	}

	@media (min-width: 1280px) {
		width: 81%;
	}

	@media (min-width: 1440px) {
		width: 99%;
	}

	@media (min-width: 1600px) {
		width: 87.5%;
	}

	@media (min-width: 1920px) {
		width: 72.5%;
	}
}

@media screen and (min-width: 1600px) {
	li.feature:nth-child(3n+1) {
		justify-content: flex-end;
	}

	li.feature:nth-child(3n+1) .feature__box {
		position: relative;
		left: -4px;
	}

	li.feature:nth-child(3n+2) {
		justify-content: center;
	}

	li.feature:nth-child(3n+3) {
		justify-content: flex-start;
	}

	li.feature:nth-child(3n+3) .feature__box {
		position: relative;
		left: 5px;
	}
}

//BADGE CONTAINER
.feature .feature__box .box__badge-container {
	height: ($baseline * 8);
	position: relative;
	margin-bottom: ($baseline * 3);
}

//BADGE
.feature .feature__box .box__badge-container .badge {
	width: ($unit * 21);
	height: ($baseline * 7);
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -(($unit * 21)/2);
	border-radius: 50%;
	background: $white;
	box-shadow: 0 2px 8px rgba(14, 20, 26, 0.2);
}

#badge-data img {
	width: 28px;
	height: 30px;
}

#badge-users img {
	width: 34px;
	height: 32px;
}

#badge-cloud img {
	width: 36px;
	height: 26px;
}

#badge-terminal img {
	width: 32px;
	height: 28px;
}

#badge-servers img {
	width: 28px;
	height: 28px;
}

#badge-velocimeter img {
	width: 32px;
	height: 32px;
}

#badge-file img {
	width: 25px;
	height: 30px;
}

#badge-heart img {
	width: 32.5px;
	height: 30px;
}

#badge-globe img {
	width: 32px;
	height: 32px;
}

//WE-CONTAINER
.feature .feature__box .box__badge-container .we-container {
	width: ($unit * 21);
	height: ($baseline * 7);
	position: relative;
	left: 50%;
	margin-left: -(($unit * 21)/2);
	top: ($baseline * 1);
}

//WE
.feature .feature__box .box__badge-container .we-container .we {
	width: ($unit * 9);
	height: ($baseline * 3);
	position: absolute;
	top: -8px;
	right: -8px;
	border-radius: 50%;
	background: $white;
	box-shadow: 0 2px 8px rgba(14, 20, 26, 0.2);
}

.feature .feature__box .box__badge-container .we-container .we span {
	font-size: 14px;
	line-height: ($baseline * 2);
	font-family: $font-primary;
	font-weight: 700;
	color: $theme;
}

//TITLE
.feature .feature__title {
	height: ($baseline * 3);
	margin-bottom: ($baseline * 1);
}

.feature .feature__title h3 {
	margin: 0;
	padding: 0;
	font-size: 22px;
	font-family: $font-primary;
	font-weight: 700;
	line-height: 24px;
	color: rgba($primary, .9);
	position: relative;
	top: 6px;
}

.feature .feature__description p {
	margin: 0;
	padding: 0 0 $baseline;
	font-size: 15px;
	font-family: $font-primary;
	font-weight: 600;
	line-height: 24px;
	color: rgba(14, 20, 26, 0.4);
	position: relative;
	top: 6px;
	letter-spacing: 0.014em;
}




.o-block-grid{margin-bottom:1rem;list-style-type:none}
@supports not ((display:grid) and (grid-column-gap:1%)){.o-block-grid{display:flex;flex-wrap:wrap}
}
@media screen and (-ms-high-contrast:none),(-ms-high-contrast:active){.o-block-grid{display:flex;flex-wrap:wrap}
.o-block-grid.v--two>*{max-width:100%}
}
.o-block-grid>*{margin-bottom:2.43902439%}
.o-block-grid.v--two>*{flex-basis:100%}
@media screen and (min-width:48rem){.o-block-grid.v--two>*{margin-bottom:2.43902439%;flex-basis:48.781%}
.o-block-grid.v--two>:nth-child(even){margin-left:2.43902439%}
}
@media screen and (min-width:48rem) and (-ms-high-contrast:none),(-ms-high-contrast:active){.o-block-grid.v--two>*{max-width:48.781%}
}
.o-block-grid.v--three>*{flex-basis:100%;margin-bottom:2.43902439%}
@supports (-ms-ime-align:auto){.o-block-grid.v--three>*{margin-bottom:2rem}
}
@media screen and (-ms-high-contrast:none),(-ms-high-contrast:active){.o-block-grid.v--three>*{max-width:100%}
}
@media screen and (min-width:48rem){.o-block-grid.v--three>*{margin-right:2.43902439%;flex-basis:48.781%}
.o-block-grid.v--three>:nth-child(2n){margin-right:0}
}
@media screen and (min-width:48rem) and (-ms-high-contrast:none),(-ms-high-contrast:active){.o-block-grid.v--three>*{max-width:48.781%}
}
@media screen and (min-width:60rem){.o-block-grid.v--three>*{margin-right:2.43902439%;flex-basis:31.7%}
.o-block-grid.v--three>:nth-child(2n){margin-right:2.43902439%}
.o-block-grid.v--three>:nth-child(3n){margin-right:0}
}
@media screen and (min-width:60rem) and (-ms-high-contrast:none),(-ms-high-contrast:active){.o-block-grid.v--three>*{max-width:31.7%}
}
.o-block-grid.v--four>*{margin-bottom:2.43902439%;flex-basis:100%}
@media screen and (max-width:767px){.o-block-grid.v--four.v--min-two>*{flex-basis:48.78%;margin-bottom:2.43902439%;margin-right:2.43902439%}
}
@media screen and (-ms-high-contrast:none),(-ms-high-contrast:active){.o-block-grid.v--four>*{max-width:100%}
}
@media screen and (min-width:48rem){.o-block-grid.v--four>*{flex-basis:48.78%;margin-bottom:2.43902439%;margin-right:2.43902439%}
.o-block-grid.v--four>:nth-child(2n){margin-right:0}
}
@media screen and (min-width:48rem) and (-ms-high-contrast:none),(-ms-high-contrast:active){.o-block-grid.v--four>*{max-width:48.78%}
}
@media screen and (min-width:80rem){.o-block-grid.v--four>*{flex-basis:23.17%}
.o-block-grid.v--four>:nth-child(2n){margin-right:2.43902439%}
.o-block-grid.v--four>:nth-child(3n){margin-right:2.43902439%}
.o-block-grid.v--four>:nth-child(4n){margin-right:0}
}
@media screen and (min-width:80rem) and (-ms-high-contrast:none),(-ms-high-contrast:active){.o-block-grid.v--four>*{max-width:23.17%}
}
@supports (display:grid) and (grid-template-columns:repeat(3,1fr)) and (grid-row-gap:1%) and (grid-gap:1%) and (grid-column-gap:1%){.o-block-grid{display:grid;grid-gap:1rem 2.43902439%}
.o-block-grid.v--two{grid-template-columns:1fr}
@media screen and (min-width:48rem){.o-block-grid.v--two{grid-template-columns:repeat(2,1fr)}
}
@media only print{.o-block-grid.v--two{grid-template-columns:repeat(1,1fr)}
}
.o-block-grid.v--two>:nth-child(even){margin-left:0}
.o-block-grid.v--two.o-block-grid.v--collapsable{grid-template-columns:repeat(1,1fr)}
@media screen and (min-width:48rem){.o-block-grid.v--two.o-block-grid.v--collapsable{grid-template-columns:repeat(2,1fr)}
.o-block-grid.v--two.o-block-grid.v--collapsable>:nth-child(even){margin-left:0}
}
@media only print{.o-block-grid.v--two.o-block-grid.v--collapsable{grid-template-columns:repeat(2,1fr)}
}
.o-block-grid.v--three{grid-template-columns:repeat(1,1fr)}
.o-block-grid.v--three>:nth-child(n){margin-right:0}
@media screen and (min-width:48rem){.o-block-grid.v--three{grid-template-columns:repeat(2,1fr)}
}
@media screen and (min-width:60rem){.o-block-grid.v--three{grid-template-columns:repeat(3,1fr)}
}
@media only print{.o-block-grid.v--three{grid-template-columns:repeat(3,1fr)}
}
.o-block-grid.v--four{grid-template-columns:repeat(1,1fr)}
.o-block-grid.v--four>:nth-child(n){margin-right:0}
.o-block-grid.v--four>:nth-child(even){margin-right:0}
@media screen and (max-width:767px){.o-block-grid.v--four.v--min-two{grid-template-columns:repeat(2,1fr)}
}
@media screen and (min-width:48rem){.o-block-grid.v--four{grid-template-columns:repeat(2,1fr)}
}
@media screen and (min-width:80rem){.o-block-grid.v--four{grid-template-columns:repeat(4,1fr)}
}
@media only print{.o-block-grid.v--four{grid-template-columns:repeat(2,1fr)}
}
.o-block-grid.v--gapless{grid-gap:0}
}
@supports not ((display:grid) and (grid-column-gap:1%)){@media screen and (min-width:48rem){.o-two-columns{display:flex;flex-wrap:wrap;align-items:flex-start;justify-content:space-between}
}
}
@media screen and (min-width:48rem) and (-ms-high-contrast:none),(-ms-high-contrast:active){.o-two-columns{display:flex;flex-wrap:wrap;align-items:flex-start;justify-content:space-between}
}
@supports not ((display:grid) and (grid-column-gap:1%)){@media screen and (min-width:48rem){.o-two-columns>:first-child{flex-basis:48.7804878%;max-width:48.7804878%}
.o-two-columns>:last-child{flex-basis:40.24390244%;max-width:40.24390244%;margin-left:10.97560976%}
}
}
@media screen and (min-width:48rem) and (-ms-high-contrast:none),(-ms-high-contrast:active){.o-two-columns>:first-child{flex-basis:48.7804878%;max-width:48.7804878%}
.o-two-columns>:last-child{flex-basis:40.24390244%;max-width:40.24390244%;margin-left:10.97560976%}
}
.o-two-columns.v--centered{align-items:center}
.o-two-columns.v--fluid{display:flex}
.o-two-columns.v--fluid>:last-child{margin-left:2.43902439%}
@media screen and (min-width:48rem){.o-two-columns.v--fluid>:last-child{margin-left:10.97560976%}
}
.o-two-columns.v--inverse>:last-child{margin-left:0}
@media screen and (min-width:64rem){.o-modal__close{font-size:.875rem}
.o-two-columns.v--inverse>:last-child{margin-right:10.97560976%;flex-basis:40.24390244%}
.o-two-columns.v--inverse>:first-child{order:2;flex-basis:48.7804878%}
}
@media screen and (min-width:64rem) and (-ms-high-contrast:none),(-ms-high-contrast:active){.o-two-columns.v--inverse>:last-child{max-width:40.24390244%}
.o-two-columns.v--inverse>:first-child{max-width:48.7804878%}
}
.o-two-columns.v--row-gaps>*{margin-bottom:1rem}
@supports (display:grid) and (grid-template-columns:repeat(3,1fr)) and (grid-row-gap:1%) and (grid-gap:1%) and (grid-column-gap:1%){.o-two-columns{display:grid;grid-template-columns:100%}
@media screen and (min-width:64rem){.o-two-columns{grid-column-gap:10.97560976%;grid-template-columns:48.7804878% 40.24390244%}
}
.o-two-columns.v--fluid{grid-column-gap:2.43902439%;grid-template-columns:48.7804878% 48.7804878%}
@media screen and (min-width:64rem){.o-two-columns.v--fluid{grid-column-gap:10.97560976%;grid-template-columns:48.7804878% 40.24390244%}
.o-two-columns.v--inverse{grid-template-columns:40.24390244% 48.7804878%}
.o-two-columns.v--inverse>:last-child{margin:0}
}
@media screen and (min-width:116.25rem){.o-two-columns.v--outset-left{margin-left:-10.97560976%;grid-template-columns:53.780488% 40.24390244%}
.o-two-columns.v--outset-right{margin-right:-10.97560976%;grid-template-columns:40.24390244% 53.780488%}
}
.o-two-columns.v--row-gaps{grid-row-gap:1rem}
@media only print{.o-two-columns{grid-template-columns:48.7804878% 48.7804878%}
}
}
@supports not ((display:grid) and (grid-column-gap:1%)){@media screen and (min-width:48rem){.o-three-columns{display:flex;flex-wrap:wrap;justify-content:space-between}
.o-three-columns>*{flex-basis:31.70731707%}
}
}
@media screen and (min-width:48rem) and (-ms-high-contrast:none),(-ms-high-contrast:active){.o-three-columns{display:flex;flex-wrap:wrap;justify-content:space-between}
.o-three-columns>*{flex-basis:31.70731707%;max-width:31.70731707%}
.o-three-columns.v--narrow>*{max-width:20.73170732%}
}
.o-three-columns.v--centered{align-items:center}
.o-three-columns.v--fluid{display:flex}
@media screen and (min-width:48rem){.o-three-columns.v--narrow{justify-content:space-around;margin:0 6.504065%}
.o-three-columns.v--narrow>*{flex-basis:20.73170732%}
}
.o-three-columns.v--row-gaps>*{margin-bottom:1rem}
@supports (display:grid) and (grid-template-columns:repeat(3,1fr)) and (grid-row-gap:1%) and (grid-gap:1%) and (grid-column-gap:1%){.o-three-columns{display:grid;grid-column-gap:2.43902439%;grid-template-columns:100%}
.o-three-columns.v--fluid{grid-template-columns:repeat(3,1fr)}
@media screen and (min-width:48rem){.o-three-columns{grid-template-columns:repeat(3,1fr)}
.o-three-columns.v--narrow{grid-column-gap:6.504065%}
}
.o-three-columns.v--row-gaps{grid-row-gap:1rem}
}
@media screen and (min-width:48rem){.o-two-thirds{display:flex}
}
@supports not ((display:grid) and (grid-column-gap:1%)){@media screen and (min-width:48rem){.o-two-thirds>:first-child{flex-basis:14.63414634%}
.o-two-thirds>:last-child{flex-basis:65.85365854%;margin-left:19.51219512%}
}
}
@media screen and (min-width:48rem) and (-ms-high-contrast:none),(-ms-high-contrast:active){.o-two-thirds>:first-child{flex-basis:14.63414634%;max-width:14.63414634%}
.o-two-thirds>:last-child{flex-basis:65.85365854%;margin-left:19.51219512%;max-width:65.85365854%}
}
.o-two-thirds.v--fluid{display:flex}
.o-two-thirds.v--fluid>:first-child{flex-basis:14.63414634%}
@media screen and (-ms-high-contrast:none),(-ms-high-contrast:active){.o-two-thirds.v--fluid>:first-child{max-width:14.63414634%}
.o-two-thirds.v--fluid>:last-child{flex-basis:65.85365854%;margin-left:19.51219512%}
}
@supports (display:grid) and (grid-template-columns:repeat(3,1fr)) and (grid-row-gap:1%) and (grid-gap:1%) and (grid-column-gap:1%){.o-two-thirds{display:grid;grid-column-gap:19.51219512%;grid-template-columns:100%}
@media screen and (min-width:48rem){.o-two-thirds{grid-template-columns:14.63414634% 65.85365854%}
}
.o-two-thirds.--fluid{grid-template-columns:14.63414634% 65.85365854%}
}


.c-logowall__item{margin-bottom:0!important;margin-right:0!important;padding:2rem;border-right:1px solid #EBEBEB;border-bottom:1px solid #EBEBEB;text-align:center;min-height:110px}
.c-logowall__item svg{fill:#3F46AD}
@media screen and (max-width:767px){.c-logowall__item:last-child{padding:0}
}
.c-logowall.v--four .c-logowall__item{border-right:none}
@media screen and (min-width:48rem){.c-logowall.v--four .c-logowall__item:nth-child(odd){border-right:1px solid #EBEBEB}
.c-logowall.v--four .c-logowall__item:nth-last-child(-n+2){border-bottom:none}
}
@media screen and (min-width:80rem){.c-logowall.v--four .c-logowall__item:nth-child(2n){border-right:1px solid #EBEBEB}
.c-logowall.v--four .c-logowall__item:nth-child(4n){border-right:none}
.c-logowall.v--four .c-logowall__item:nth-last-child(-n+4){border-bottom:none}
}
.c-logowall.v--three .c-logowall__item{border-right:none;display:flex;align-items:center;justify-content:center;flex-direction:column}
.c-logowall.v--three .c-logowall__item:nth-last-child(2){border-bottom:1px solid #EBEBEB}
.c-logowall.v--three .c-logowall__item:last-child{border-bottom:none}
@media screen and (min-width:48rem){.c-logowall.v--three .c-logowall__item{border-right:1px solid #EBEBEB}
.c-logowall.v--three .c-logowall__item:nth-child(2n){border-right:none}
.c-logowall.v--three .c-logowall__item:nth-last-child(-n+2){border-bottom:none}
}
@media screen and (min-width:60rem){.c-logowall.v--three .c-logowall__item{border-right:1px solid #EBEBEB}
.c-logowall.v--three .c-logowall__item:nth-child(2n){border-right:1px solid #EBEBEB}
.c-logowall.v--three .c-logowall__item:nth-child(3n){border-right:none}
.c-logowall.v--three .c-logowall__item:nth-last-child(-n+4){border-bottom:1px solid #EBEBEB}
.c-logowall.v--three .c-logowall__item:nth-last-child(-n+3){border-bottom:none}
}
.c-logowall.v--two .c-logowall__item{border-right:none}
.c-logowall.v--two .c-logowall__item:nth-last-child(2){border-bottom:1px solid #EBEBEB}
.c-logowall.v--two .c-logowall__item:last-child{border-bottom:none}
@media screen and (min-width:48rem){.c-logowall.v--two .c-logowall__item:nth-child(odd){border-right:1px solid #EBEBEB}
.c-logowall.v--two .c-logowall__item:nth-last-child(-n+2){border-bottom:none}
}
.c-logowall.v--dark .c-logowall__item{border-right-color:rgba(235,235,235,.2)!important;border-bottom-color:rgba(235,235,235,.2)!important}